.nav-btn {
    background-color: transparent;
    border: none;

    i {
        font-size: 24px;
    }
}

.nav-btn:hover {
    background-color: #6c757d;
}

.navbar-inner {
    text-align: center;
    margin-left: 60px;
}
