<nav class="navbar navbar-dark bg-dark bg-faded flex-nowrap flex-row">
    <div class="container-fluid">
        <span class="navbar-brand float-left">{{mob?.name | uppercase}}</span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
          <a class="nav-link" routerLinkActive="active-link">Sponsors &nbsp;<span class="badge badge-warning">Coming Soon!</span><span class="sr-only">(current)</span></a>
        </li>
        </ul>
        <ul class="nav navbar-nav flex-row float-right">
            <button id="mobLink"
                    class="btn btn-secondary"
                    [ngClass]="hasCopiedLink ? 'btn-success' : 'btn-secondary'"
                    (click)="copyLink()">{{mobLink}}&nbsp;
                <i class="las"
                   [ngClass]="hasCopiedLink ? 'la-check' : 'la-clipboard'"></i></button>
        </ul>
    </div>
</nav>
