<footer class="footer">
    <div class="container-fluid d-flex justify-content-between">
        <div></div>
        <a class="btn btn-nav" href="https://www.buymeacoffee.com/danielbreen" target="_blank"><img src="https://cdn.buymeacoffee.com/buttons/v2/default-green.png" alt="Buy Me A Coffee" style="height: 38px !important" ></a>
        <a class="btn nav-btn"
           href="https://github.com/Open-Mob-Timer/open-mob-timer"
           target="_blank"><i class="lab la-github"></i></a>
    </div>
</footer>
