<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#">{{mob?.name || 'Open Mob Timer' | uppercase}}</a>
        </div>
        <div class="navbar-inner text-center">
            <button id="mobLink"
                    class="btn btn-secondary"
                    (click)="copyLink()">{{mobLink}}&nbsp;<i class="fa fa-copy"></i></button>
        </div>
        <div class="nav navbar-right">
            <li class="nav-item">
            <a class="btn btn-secondary nav-btn" href="https://github.com/Open-Mob-Timer/open-mob-timer" target="_blank"><i class="fa fa-github text-light"></i></a>
        </li>
        </div>
    </div>
</nav>

<div class="container-fluid row">
    <div class="card col-sm-2 side-bar">
        <div class="card-body">
            <h2 class="card-text time-remaining">{{timeRemaining}}</h2>
            <form class="form-inline my-2 my-lg-0"
                  style="display: inline-block"
                  [formGroup]="userForm"
                  (ngSubmit)="addUser()">
                <div class="input-group mb-3">
                    <input type="text"
                           class="form-control"
                           placeholder="Enter User Name"
                           aria-label="Recipient's username"
                           aria-describedby="basic-addon2"
                           formControlName="name">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary"
                                type="submit"
                                [disabled]="userForm.invalid">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-9 text-center">
        <div class="content" *ngIf="mob?.users?.length">
            <ul class="list-group"
                *ngFor="let user of mob?.users; let i = index">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <button *ngIf="!user.turnEndsAt" class="btn btn-primary btn-sm mr-2 timer-button" (click)="toggleTurn(i)" [disabled]="user.isAway"><i class="fa fa-play"></i></button>
                    <button *ngIf="user.turnEndsAt" class="btn btn-danger btn-sm mr-2 timer-button" (click)="toggleTurn(i)"><i class="fa fa-stop"></i></button>
                    {{user.name}}
                </span>
                <span>
                    <button type="button" class="btn btn-lg btn-user-action" (click)="toggleIsAway(i)"><i class="fa fa-rocket"></i></button>
                    <button type="button" class="btn btn-lg btn-user-action" (click)="removeUser(i)"><i class="fa fa-times"></i></button>
                </span>
            </li>
            </ul>
        </div>
    </div>
</div>
