.timer-button {
    width: 80px;
}

.btn-user-action {
    padding: 10px;
}

.content {
    margin-top: 10px;
}

// side nav
.time-remaining {
    text-align: center;
    font-size: 100px;
}

.side-bar {
    margin: 10px 0 0 10px;
    height: 92vh
}

// nav
.nav-btn {
    background-color: transparent;
    border: none;
}

.nav-btn:hover {
    background-color: #6c757d;
}

.navbar-inner {
    text-align: center;
}
