.mob-name {
    background-color: black;
    height: 80px;
    width: 100%;

    h1 {
        color: white;
    }
}

.timer-button {
    width: 80px;
}

.time-remaining {
    font-size: 80px;
}

.btn-user-action {
    padding: 10px;
}
